<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neu.mtinv.mapper.LastCatalogMapper">
    <select id="getEqTime" resultType="string">
        SELECT eqTime
        FROM lastCatalog
    </select>

    <update id="updateEqTime">
        UPDATE lastCatalog
        <set>
            <if test="eqTime != null">eqTime=#{eqTime}</if>;
        </set>
    </update>
</mapper>